.footer-bg{
  background: #000;
}
.footer{
  display: flex;
flex-direction: row;
justify-content: center;
}
.footer img{
  margin-top: 80px;
  margin-bottom: 60px;
}
.footer ul{
  margin-bottom: 60px;
}
.copy {
  color: #B9B9B9;
  padding: 10px;
}
