.formacao {
  background: #141414;

  max-width: 1200px;
  padding: 2rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.forma {
  font-size: 8rem;
  line-height: 1.1;
  margin-top: 15px;
  word-break: break-all;
  max-width: 5ch;
  color: #000;
  text-transform: uppercase;
}
.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}
.formacao-texto strong {
  color: #fff;
}
.titulos {
  display: flex;
  gap: 20px;
}

.titulos-lista {
  background: #000;
  height: 170px;
  width: 160px;
  border-radius: 5px;
  position: relative;
  margin: 0px;
}
.lista1 {
  font-size: 14px;
  line-height: 20px;
  color: #a3a3a3;
  list-style: none;
  text-transform: uppercase;
  padding: 10px 0px;
  position: relative;
}
.lista2 {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  list-style: none;
  padding: 10px 0px;
  max-width: 6ch;
}
.lista3 {
  font-size: 18px;
  line-height: 20px;
  color: #a3a3a3;
  list-style: none;
  padding: 10px 0px;
}
.titulos-lista::before {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 4px;
  top: 54px;
  left: 0px;
  background: linear-gradient(#b6f829, #67dd0a);
}
.formacao-extra h3 {
  color: #8f8f8f;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("./web/img/cursos.svg") no-repeat center center;
  position: absolute;
  top: -36px;
  left: -4px;
}
.cursos {
  margin-top: 60px;
}
.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #fff;
}
.formacao-extra span {
  color: #8f8f8f;
}
.cursos li {
  display: flex;
  justify-content: space-between;
}
